<div class="container">
  <mat-toolbar  id="contacts-toolbar">
    <div fxLayout="row wrap" fxLayoutGap="grid">
      <div fxFlex="70%" class="flex-center-complete contacts-toolbar-padding">
           contactos de emergencia
      </div>
      <div fxFlex="30%" class="flex-center-right">
        <img src="assets/images/ANGEL_LOGO.png" fxFlex="100%" />
      </div>
    </div>
  </mat-toolbar>
  <div fxLayout="row wrap" fxLayoutGap="grid" id="container-flex">
    <div fxFlex="100%" fxFlex.sm="100%">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <mat-card
            class="blue-700"
            class="blue-700 color-white contacts cards-contacts"
          >
            <div fxLayout="row wrap" fxLayoutGap="grid">
              <div fxFlex="75%" class="flex-center-left">
                Nombre : Juan Esteban Mona Bermudez <br />
                Telefono : 3567625787 <br />
                Dirección : calle guayabal <br />
                Parentesco: PAPÁ
              </div>
              <div fxFlex="25%" class="flex-center-complete" id="buttons">
                <i class="fa fa-male fa-4x" aria-hidden="true"></i>
              </div>
              <div fxFlex="100%" class="flex-center-complete" id="buttons">
                <button
                  mat-button
                  class="m-r-10px color-white button-emergency"
                >
                  EMERGENCIA
                </button>
                <button mat-button class="m-r-10px color-white pink-900">
                  Llamar
                </button>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <mat-card
            class="blue-700"
            class="blue-700 color-white contacts cards-contacts"
          >
            <div fxLayout="row wrap" fxLayoutGap="grid">
              <div fxFlex="75%" class="flex-center-left">
                Nombre : Sucel Libia Bermudez <br />
                Telefono : 3078946723 <br />
                Dirección : Avenida Santiago <br />
                Parentesco: MAMÁ
              </div>
              <div fxFlex="25%" class="flex-center-complete" >
                <i class="fa-solid fa-person-dress fa-4x"></i>
              </div>
              <div fxFlex="100%" class="flex-center-complete" id="buttons">
                <button
                  mat-button
                  class="m-r-10px color-white button-emergency"
                >
                  EMERGENCIA
                </button>
                <button mat-button class="m-r-10px color-white pink-900">
                  Llamar
                </button>
              </div>
            </div>
          </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <mat-card
            class="blue-700"
            class="blue-700 color-white contacts cards-contacts"
          >
            <div fxLayout="row wrap" fxLayoutGap="grid">
              <div fxFlex="75%" class="flex-center-left">
                Nombre : Santiago Mona Bermudez <br />
                Telefono : 3096547845 <br />
                Dirección : Avenida Santiago <br />
                Parentesco: HERMANO
              </div>
              <div fxFlex="25%" class="flex-center-complete">
                <i class="fa fa-male fa-4x" aria-hidden="true"></i>
              </div>
              <div fxFlex="100%" class="flex-center-complete" id="buttons">
                <button
                  mat-button
                  class="m-r-10px color-white button-emergency"
                >
                  EMERGENCIA
                </button>
                <button mat-button class="m-r-10px color-white pink-900">
                  Llamar
                </button>
              </div>
            </div>
          </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <mat-card
            class="blue-700"
            class="blue-700 color-white contacts cards-contacts"
          >
            <div fxLayout="row wrap" fxLayoutGap="grid">
              <div fxFlex="75%" class="flex-center-left">
                Nombre : Sucel Libia Bermudez <br />
                Telefono : 3078946723 <br />
                Dirección : Avenida Santiago <br />
                Parentesco: HERMANA
              </div>
              <div fxFlex="25%" class="flex-center-complete">
                <i class="fa-solid fa-person-dress fa-4x"></i>
              </div>
              <div fxFlex="100%" class="flex-center-complete" id="buttons">
                <button
                  mat-button
                  class="m-r-10px color-white button-emergency"
                >
                  EMERGENCIA
                </button>
                <button mat-button class="m-r-10px color-white pink-900">
                  Llamar
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
