.main-button{
    background-color: transparent;
    border-width: 0
}
.logo-general{
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 50PX;
}
mat-label{
    color: black;
}
