<div class="main-container">
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div class="flex-center" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
      <img src="/assets/images/ANGEL_LOGO.png" fxFlex="75%" />
  </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div class="customer-info" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <app-customer-information></app-customer-information>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" fxFlex.sm="100%">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <app-home-card-one></app-home-card-one>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <a [routerLink]="['/users/location']"><app-home-card-two></app-home-card-two></a>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" fxFlex.sm="100%">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <a [routerLink]="['/users/components/contacts']"><app-home-card-three></app-home-card-three></a>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <a [routerLink]="['/users/location']"><app-home-card-four></app-home-card-four></a>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" class="menu-container">
      <app-main-menu></app-main-menu>
    </div>
  </div>
</div>
