<div class="main-container">
  <div fxLayout="row wrap" fxLayoutGap="grid">
      <app-main-logo></app-main-logo>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div class="customer-info" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <app-customer-information></app-customer-information>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" fxFlex.sm="100%">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <app-home-card-one></app-home-card-one>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <app-home-card-two></app-home-card-two>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" fxFlex.sm="100%">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <app-home-card-three></app-home-card-three>
        </div>
        <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
          <app-home-card-four></app-home-card-four>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="100%" class="menu-container">
      <app-main-menu></app-main-menu>
    </div>
  </div>
</div>
