
html, body { @extend.h-100; @extend.w-max-100; @extend.h-max-100 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';


@mixin theme-color-general($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .blue-700{
    background-color: mat-color($warn);
  }
  .pink-900{
    background-color: mat-color($accent);
  }

   // ---------------------------------------------------------HOME - COMPONENT----------------------------------------------------------------

  .main-container{
    @extend.w-100;
    @extend.h-min-100;
  }
  .customer-info{
     @extend.flex-center;
     @extend.m-b-20;
  }
  .customer-info-card{
    @extend.b-r-20;
    @extend.w-320;
    padding: 0px !important;
 }
  .main-menu {
    background-color: mat-color($primary);
    font-family: 'italic';
    @extend.color-white;
    @extend.position-fixed-end;
    @extend.flex-space-around;
    z-index: 1000;
  }
  .card_one{
    background-color: mat-color($accent);
    @extend.background-image-general;
    background-image: var(--background-01);
    @extend.h-card-80;
    @extend.m-10_30;
    @extend.b-r-20;
    @extend.flex-center-complete;
    @extend.color-white;
  }
  .card_two{
    background-color: mat-color($warn);
    @extend.background-image-general;
    background-image: var(--background-02);
    @extend.h-card-80;
    @extend.m-10_30;
    @extend.b-r-20;
    @extend.flex-center-complete;
    @extend.color-white;
  }
  .card_three{
    background-color: mat-color($accent);
    @extend.background-image-general;
    background-image: var(--background-03);
    @extend.h-card-80;
    @extend.m-10_30;
    @extend.b-r-20;
    @extend.flex-center-complete;
    @extend.color-white;
  }
  .card_four{
    background-color: mat-color($warn);
    @extend.background-image-general;
    background-image: var(--background-04);
    @extend.h-card-80;
    @extend.m-10_30;
    @extend.b-r-20;
    @extend.m-b-100;
    @extend.flex-center-complete;
    @extend.color-white;
  }

  // ---------------------------------------------------------LOGIN - COMPONENT----------------------------------------------------------------


  .logo-login{
    @extend.flex-center;
    margin-top: 50%;
  }
  .card-login-general{
    @extend.flex-center;
    margin-top: 50px;
  }
  .card-login-one{
    @extend.m-20_0;
    @extend.w-320;
    @extend.b-r-20;
    @extend.flex-center-complete;
    background-color: mat-color($accent);
    @extend.h-card-15;
    @extend.color-white;
  }
  .card-login-two{
    @extend.m-20_0;
    @extend.w-320;
    @extend.b-r-20;
    @extend.flex-center-complete;
    background-color: mat-color($warn);
    @extend.h-card-15;
    @extend.color-white;
  }
  .card-login-logo-general{
   @extend.flex-center;
   @extend.position-absolute-end;
  }
  .input-login{
    @extend.w-320;
  }
  .buttons-login{
    @extend.m-t-20;
    @extend.flex-center;
  }
}
.mat-card:active{
  background-color: grey !important;
}

// ---------------------------------------------------------VARIABLES----------------------------------------------------------------

:root{
  --background-01: url("/assets/images/BACKGROUND_CARD_01.png");
  --background-02: url("/assets/images/BACKGROUND_CARD_02.png");
  --background-03: url("/assets/images/BACKGROUND_CARD_03.png");
  --background-04: url("/assets/images/BACKGROUND_CARD_04.png");
}

// ---------------------------------------------------------HEIGHT----------------------------------------------------------------

.h-100{
  height: 100%;
}
.h-card-80{
  height: 80px;
}
.h-card-100{
  height: 100px;
}
.h-card-15{
  height: 15px;
}

.h-max-100{
  max-height: 100%;
}
.h-min-100{
  min-height: 100%;
}

// ---------------------------------------------------------WIDTH----------------------------------------------------------------

.w-100{
  width: 100%;
}
.w-max-100{
  max-width: 100%;
}
.w-320{
  width: 320px;
}
.w-120{
  width: 120px;
}


// ---------------------------------------------------------MARGIN----------------------------------------------------------------

.m-10_30{
  margin: 10px 30px;
}
.m-20_0{
  margin: 20px 0px;
}

// ---------------------------------------------------------MARGIN-LEFT----------------------------------------------------------------

.m-l-10px{
  margin-left: 10px !important;
}

// ---------------------------------------------------------MARGIN-RIGHT----------------------------------------------------------------

.m-r-10px{
  margin-right: 10px !important;
}

// ---------------------------------------------------------BORDER-RADIUS----------------------------------------------------------------
.b-r-20{
  border-radius: 20px !important;
}

// ---------------------------------------------------------MARGIN-BOTTOM----------------------------------------------------------------

.m-b-100{
  margin-bottom: 100px;
}
.m-b-20{
  margin-bottom: 20px;
}

// ---------------------------------------------------------MARGIN-TOP----------------------------------------------------------------

.m-t-20{
  margin-top: 20px;
}
// ---------------------------------------------------------BACKGROUND-IMAGE----------------------------------------------------------------

.background-image-general{
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

// ---------------------------------------------------------FLEX----------------------------------------------------------------

.flex-center{
  display: flex !important;
  justify-content: center;
}
.flex-space-around{
  display: flex !important;
  justify-content: space-around;
}
.flex-center-complete{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// ---------------------------------------------------------POSITIONS----------------------------------------------------------------
.position-absolute-end{
  position: absolute;
  bottom: 0;
}
.position-fixed-end{
  bottom: 0;
  position: fixed;
}

// ---------------------------------------------------------TEXT----------------------------------------------------------------
.color-white{
  color: white !important;
}