@use '@angular/material' as mat;
@include mat.core();
@import '../styles.scss';

$my-theme-primary: mat.define-palette(mat.$blue-gray-palette, 900);
$my-theme-secondary: mat.define-palette(mat.$pink-palette, 900);
$my-theme-warn: mat.define-palette(mat.$blue-palette, 700);
$my-palette-theme: mat.define-light-theme((
 color: (
   primary: $my-theme-primary,
   accent: $my-theme-secondary,
   warn: $my-theme-warn,
 )
));
@include mat.all-component-themes($my-palette-theme);
@include theme-color-general($my-palette-theme);
